---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <section id="details" class="py-10 md:py-20 flex flex-col gap-6 md:gap-8 font-Neue border-b-2 border-dashed border-white/50">
    <div class="flex flex-row items-center">
      <div class="md:w-1/2">
        <h1 class="font-Pangaia text-3xl md:text-4xl mb-2">{frontmatter.title}</h1>
        <p class="text-base md:text-xl text-pretty">
          {frontmatter.description}
        </p>
      </div>
      <div class="hidden md:block"></div>
    </div>
    <div class="grid grid-cols-2 gap-6 md:grid-cols-4 md:gap-8">
      <div>
        <p class="text-white/50 text-xs md:text-sm">Project Type</p>
        <p class="text-sm md:text-base">{frontmatter.tags[0]}</p>
      </div>
      <div>
        <p class="text-white/50 text-xs md:text-sm">Time</p>
        <p class="text-sm md:text-base">{frontmatter.details.time}</p>
      </div>
      <div>
        <p class="text-white/50 text-xs md:text-sm">Cost</p>
        <p class="text-sm md:text-base">{frontmatter.details.cost}</p>
      </div>
      <div>
        <p class="text-white/50 text-xs md:text-sm">Who worked on this</p>
        <p class="text-sm md:text-base">{frontmatter.details.team}</p>
      </div>
    </div>
  </section>
  <section id="images" class="py-10 md:py-20">
    {frontmatter.images.url.slice().reverse().map((url, index) => (
      <img src={url} alt={frontmatter.images.alt[frontmatter.images.alt.length - 1 - index]} class="mb-10 md:mb-16" />
    ))}
  </section>
</BaseLayout>
