---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogCard from '../components/BlogCard.astro';

const allBlogs = await getCollection('blog');

const title = 'Wanderings';
---

<BaseLayout title={title}>
  <section class="py-20 font-Neue">
    <!--  -->
    <div class="flex flex-row items-center">
      <div class="md:w-1/2">
        <h1 class="text-3xl font-Pangaia font-medium md:text-4xl text-balance">
          This is my blog, where stories unfold
        </h1>
        <p class="text-base md:text-xl text-pretty">
          I write about my interests: design, math, food, programming and
          anything I fall in love with along the way. I hope you enjoy reading
          them as much as I enjoy writing them.
        </p>
      </div>
      <div class="hidden md:block"></div>
    </div>
  </section>
  <section class="pb-20">
    <div
      class="grid grid-cols-1 divide-y-2 divide-dashed divide-white/50 gap-3"
    >
      {
        allBlogs.map((blog) => {
          const date = new Date(blog.data.pubDate);
          const formattedDate = date.toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          });

          return (
            <BlogCard
              url={`/blog/${blog.slug}/`}
              title={blog.data.title}
              description={blog.data.description}
              pubDate={formattedDate}
            />
          );
        })
      }
    </div>
  </section>
</BaseLayout>
