---
import { getCollection } from 'astro:content';
import BaseLayout from '@/lays/BaseLayout.astro';
import ProjectCard from '@/components/ProjectCard.astro';
import { Button } from '../components/ui/button';
import { EnvelopeOpenIcon } from '@radix-ui/react-icons';

const allProjects = await getCollection('projects');

const title = 'Vincent Obbeng | Web Developer & Designer';
---

<BaseLayout title={title}>
  <main class="font-Neue text-lg md:text-xl">
    <section class="py-40 flex flex-row items-end">
      <div class="md:w-1/2 h-max">
        <p class="text-balance mb-8 font-medium leading-relaxed">
          I'm Vincent, a web developer and designer based in Accra, Ghana. I
          love to make <span
            class="font-Pangaia font-medium text-light-blurple mx-1 hover:underline hover:decoration-white hover:decoration-2"
            ><a href="/">landing pages</a></span
          >, <span
            class="font-Pangaia font-medium text-light-blurple mx-1 hover:underline hover:decoration-white hover:decoration-2"
            ><a href="/">marketing sites</a></span
          > and <span
            class="font-Pangaia font-medium text-light-blurple mx-1 hover:underline hover:decoration-white hover:decoration-2"
            ><a href="/">application interfaces</a></span
          >. Still finding more stuff to be good at but if you need help with
          any of the above, I'm your guy!
        </p>
        <a href="mailto:obbengvincent@gmail.com"
          ><Button size='lg'>
            Let's chat! <EnvelopeOpenIcon className="ml-2" />
          </Button></a
        >
      </div>
      <div class="hidden md:w-1/2"></div>
    </section>
    <section class="pb-10 md:pb-20">
      <h2 class="mb-8 md:mb-16 font-medium">Recent projects</h2>

      {
        allProjects.map((work) => (
          <ProjectCard
            url={`/projects/${work.slug}/`}
            title={work.data.title}
            description={work.data.description}
            images={work.data.images}
          />
        ))
      }
    </section>
  </main>
</BaseLayout>
