---
import { getCollection } from 'astro:content';
import BaseLayout from '@/lays/BaseLayout.astro';
import ProjectCard from '@/components/ProjectCard.astro';
import { Button } from '../components/ui/button';
import { EnvelopeOpenIcon } from '@radix-ui/react-icons';

const allProjects = await getCollection('projects', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

const title = 'Home';
---

<BaseLayout title={title}>
  <main class="font-Neue text-lg md:text-xl">
    <section
      class="py-10 md:py-20 flex flex-col-reverse md:flex-row items-center gap-10"
    >
      <div class="w-full md:w-1/2">
        <p class="text-wrap mb-8 font-medium">
          I'm Vincent, a software engineer and designer based in Accra, Ghana. I
          make <span
            class="font-Pangaia font-medium text-light-blurple mx-1 hover:underline hover:decoration-white hover:decoration-2"
            ><a href="/">software interfaces</a></span
          >, <span
            class="font-Pangaia font-medium text-light-blurple mx-1 hover:underline hover:decoration-white hover:decoration-2"
            ><a href="/">marketing sites</a></span
          > and <span
            class="font-Pangaia font-medium text-light-blurple mx-1 hover:underline hover:decoration-white hover:decoration-2"
            ><a href="/">content-driven websites</a></span
          >. I'm still finding more things to be insanely good at but if you need help with
          any of the above, I'm your guy!
        </p>
        <a href="mailto:obbengvincent@gmail.com"
          ><Button size="lg">
            Let's chat! <EnvelopeOpenIcon className="ml-2" />
          </Button></a
        >
      </div>
      <div class="w-full md:w-1/2">
        <img src="/images/computer-pixel-art.jpg" alt="80's Computer" class="rounded-md" />
      </div>
    </section>
    <section class="py-20 mt-10 md:mt-0">
      <h2 class="mb-8 md:mb-16 font-medium">Recent projects</h2>

      {
        allProjects.map((work) => (
          <ProjectCard
            url={`/projects/${work.slug}/`}
            title={work.data.title}
            description={work.data.description}
            images={work.data.images}
          />
        ))
      }
    </section>
  </main>
</BaseLayout>
