---
import { Button } from './ui/button';
import { ArrowTopRightIcon } from '@radix-ui/react-icons';
const { title, url, description, images } = Astro.props;
---

<div
  class="grid grid-cols-2 gap-6 md:grid-cols-4 md:gap-8 mb-8 md:mb-10 pb-4 md:pb-6"
>
  <div class="relative">
    <div class="text-sm md:text-base mb-3">
      <h2 class="mb-1 font-medium">{title}</h2>
      <p class="text-white/50 text-pretty">
        {description}
      </p>
    </div>
    <div class="absolute left-0 bottom-0">
      <a href={url}>
        <Button size="sm">
          Take a look <ArrowTopRightIcon className="ml-2" />
        </Button>
      </a>
    </div>
  </div>

  <img
    src={images.url[0]}
    alt={images.alt[0]}
    class="rounded-md grayscale-0 hover:scale-105 hover:rotate-2 md:grayscale hover:md:grayscale-0 object-cover"
  />
  <img
    src={images.url[1]}
    alt={images.alt[1]}
    class="rounded-md grayscale-0 hover:scale-105 hover:rotate-2 md:grayscale hover:md:grayscale-0 object-cover"
  />
  <img
    src={images.url[2]}
    alt={images.alt[2]}
    class="rounded-md grayscale-0 hover:scale-105 hover:rotate-2 md:grayscale hover:md:grayscale-0 object-cover"
  />
</div>
